footer {
    width: 100%;
    background: linear-gradient(to top, var(--secondary), transparent);
    border-top: 2px solid #641838;
    padding-top: 60px;


}

footer .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 5%;
    gap: 3%;
    flex-wrap: wrap; 
}

.footer-logo {
    flex: 2;
    min-width: 250px; 
}

.footer-logo img {
    height: 90px;
    width: auto;
    object-fit: contain;
    margin-bottom: 20px;
}

.footer-logo p {
    color: #d6d6d6;
    font-size: 14px;
    line-height: 1.5;
    max-width: 90%;
}

.footer-links, .footer-social {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 150px;
}

footer h3 {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #ededed;
    font-size: 15px;
    transition: 0.3s;
}

footer a:hover {
    color: #E7B93F;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.copyright p {
    color: #ffffff;
    font-size: 13px;
}

@media (max-width: 950px) {
    footer .container {
        gap: 40px 5%;
    }

    .footer-logo {
        flex: 100%; 
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-logo p {
        text-align: center;
    }

    .footer-links, .footer-social {
        flex: 40%; 
    }
}

@media (max-width: 600px) {
    .footer-links, .footer-social {
        flex: 100%; 
        text-align: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .footer-links {
        border-bottom: 1px solid #1a1a1a;
        padding-bottom: 20px;
    }
}