<header>
    <div class="container">

        <div class="logo">
            <img src="assets/img/logo.png" alt="Logo">
        </div>

        <nav id="menu-mobile">
            <a href="index.html">Home</a>
            <a href="shop.html">Shop</a>
            <a href="masculino.html">Masculino</a>
            <a href="feminino.html">Feminino</a>
            <a href="#">Sobre</a>
            
            <form action="#" class="search">
                <input type="search" placeholder="Buscar..." aria-label="Buscar produtos no site">
                <button type="submit" aria-label="Pesquisar"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </nav>

        <div class="actions">
            <a href="login.html"><i class="fa-solid fa-circle-user"></i> <span class="action-text">Login</span></a>
            <a href="carrinho.html"><i class="fa-solid fa-cart-shopping"></i> <span class="action-text">Carrinho</span></a>
        </div>
        
        <button class="menu-toggle" aria-label="Abrir menu" id="btn-menu">
            <i class="fa-solid fa-bars"></i>
        </button>
        
    </div>
</header>
<script src="scripts/menu.js"></script>